@import url("https://fonts.googleapis.com/css?family=Rajdhani:400,600|Roboto:400,500,500i");

body {
  line-height: 24px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #000;
 }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rajdhani", sans-serif;
  font-weight: 150;
  padding-top:20px;
 }

 .btn {
  background-color: important rgb(228, 35, 13);
 }

.h2-hero {
  padding-top: 20px;
  text-align: center;
  color: #046573;
}

#wordBtn, #quoteBtn {
  background-color:  #0f1b27;
  color: rgb(251, 100, 5);
  border: none;
}

.wordFind {
  text-align: center;
  color: #00ad5f;
  padding-top: 20px;
}

#input-div {
  width: 674px;
  margin: auto;
}

#text-input {
  border: none;
  border-radius: 20px;
  outline: none;
  box-shadow: 2px 1px 3px 2px #046573;

}




#text-input:focus {
outline: none;
}
#submit-btn {
  margin-left: 10px;
  background-color:#1a3f48;
  border:none;
  color: azure;
}

#spinner-container {
  background-color: #49e4fc;
  width:200px;
  height: 200px;
  /*border-radius: 100%;*/
  position: relative;
  border: 5px solid #046573;
  border-top-color: red;
  border-bottom-color: #00ad5f;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  margin: auto;
  animation: round 2s linear infinite;
}


#loader {
  background-color: #fff;
  width:50px;
  height: 50px;
  border-radius: 100%;
  border: 5px solid #00ad5f;
  border-top-color: red;
  position: fixed;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  margin: auto;
  animation: round 2s linear infinite;
}

.loader {
  background-color: #fff;
  width:50px;
  height: 50px;
  /*border-radius: 100%;*/
  border: 5px solid #00ad5f;
  border-top-color: red;
  left:0;
  right: 0;
  margin: auto;
  animation: round 2s linear infinite;
}

@keyframes round{
  from{transform: rotate(0deg)}
  to{transform: rotate(360deg)}
}
.hero-section {
    height: 100vh;
    margin-bottom: -10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #f9f9fa;
    position: relative;
}

.hero-section::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('/storage/img-01.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}




.login, .register {
    background-color: #1a3f48;
}

.loginCard, .registerCard {
  margin-top: 50px;
}

.howToPlay {
  background-color: #fff;
  color: black;
  margin-left: 20px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 1px 0 0 1px #1a3f48;
}
#h5-howToPlay {
  padding-top: 10px;
}


.gamesCol {
  margin-top: 40px;
  background-color: #fff;
  border-radius: 2px;
}

#footer {
  list-style: none;
  padding: 0;
  display: flex;
}


#footerLI {
  margin-right: 0.5rem;
  padding: 0.6rem;
}


#enWord {
     padding:30px;
     font-size:100px;
     background-color: #fff;
     border-radius:100px;
     border:1px dotted black;
     color: black;
     box-shadow:0px 8px 10px 2px #a5630d99;
}






/*
 .winning-history, .transactions,
 .winning-board,
 .payout,
 .admin-home,
 .game-details,
 .players,
 .games,
 .register,
 .how-to-play,
 .add-game,
 .add-message,
 .messages,
 .email,
 .help,
 .contact-us,
 .admin,
 .winners {
  margin:auto;
   margin-top:20px;
    background-color: #fff;
     border-radius: 5px;
     box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
 } */

 .fund-account {
  margin:auto;
  margin-top:20px;
   background-color: #000;
    border-radius: 5px;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
   -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
   -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
   -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
   -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
 }



 #winners {
    margin-top:5px;
    background-color: #fff;
   border-radius: 5px;
   box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
 }



 .footer-nav a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    list-style-type: none;
}

 .game-div {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
 -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
 -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
 -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
 -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
 }




.adminLeftSidebar {
  background-color: #fff;
}
